Name: <input type="text" [(ngModel)]="empName"> <br>
From Angular Team:<input type="checkbox" [(ngModel)]="isFromAngularTeam"> <br>
Pure Change:<input type="checkbox" [(ngModel)]="pureChange"> <br>
<button type="button" (click)="addEmployee()">Add Employee</button> <br>

<h1>Without Pipe Demo</h1>
<table style="width:50%">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Angular Team</th>
  </tr>
  <ng-container *ngFor="let item of empArray;let i=index">
    <tr>
      <td>{{i+1}}</td>
      <td>{{item?.name}}</td>
      <td>{{item?.isFromAngularTeam}}</td>
    </tr>
  </ng-container>
</table><br>


<h1>With Pure Pipe Demo</h1>
<table style="width:50%">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Angular Team</th>
  </tr>
  <ng-container *ngFor="let item of (empArray| pureFilterPipe);let i=index">
    <tr>
      <td>{{i+1}}</td>
      <td>{{item?.name}}</td>
      <td>{{item?.isFromAngularTeam}}</td>
    </tr>
  </ng-container>
</table><br>

<h1>With Impure Pipe Demo</h1>
<table style="width:50%">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Angular Team</th>
  </tr>
  <ng-container *ngFor="let item of (empArray| impureFilterPipe);let i=index">
    <tr>
      <td>{{i+1}}</td>
      <td>{{item?.name}}</td>
      <td>{{item?.isFromAngularTeam}}</td>
    </tr>
  </ng-container>
</table>
